<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 使用接口地址作为namespace-->
<mapper namespace="AutoDb">

	<resultMap id="RM_AutoDb" type="com.shareinfo.adminManage.auto.model.AutoDbModel">
		<result property="id" column="id"/>
		<result property="dbName" column="db_name"/>
		<result property="dbType" column="db_type"/>
		<result property="dbUrl" column="db_url"/>
		<result property="dbAccount" column="db_account"/>
		<result property="dbPwd" column="db_pwd"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="AutoDb_columns">
	<![CDATA[
		id,
		db_name,
		db_type,
		db_url,
		db_account,
		db_pwd
	]]>
	</sql>

	<insert id="AutoDb_insert">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			SELECT uuid() AS ID 
		</selectKey>
	<![CDATA[
		INSERT INTO AUTO_DB (
			id ,
			db_name ,
			db_type ,
			db_url ,
			db_account ,
			db_pwd 
		) VALUES (
			#{id} ,
			#{dbName} ,
			#{dbType} ,
			#{dbUrl} ,
			#{dbAccount} ,
			#{dbPwd} 
		)
	]]>
	</insert>
    
	<update id="AutoDb_update" >
	<![CDATA[
		UPDATE AUTO_DB SET
				db_name = #{dbName} ,
				db_type = #{dbType} ,
				db_url = #{dbUrl} ,
				db_account = #{dbAccount} ,
				db_pwd = #{dbPwd} 
		WHERE 
				id = #{id} 
	]]>
	</update>

	<delete id="AutoDb_delete">
	<![CDATA[
		DELETE FROM AUTO_DB WHERE
			id = #{id} 
	]]>
	</delete>
    
	<select id="AutoDb_getById" resultMap="RM_AutoDb">
		SELECT <include refid="AutoDb_columns" />
	<![CDATA[
		FROM AUTO_DB 
		WHERE 
				id = #{id} 
	]]>
	</select>
	
	<sql id="AutoDb_selectList_where">
		<where>	      				
			<if test="id!=null">
						AND id = #{id}
			</if>
			<if test="dbName!=null">
						AND db_name = #{dbName}
			</if>
			<if test="dbType!=null">
						AND db_type = #{dbType}
			</if>
			<if test="dbUrl!=null">
						AND db_url = #{dbUrl}
			</if>
			<if test="dbAccount!=null">
						AND db_account = #{dbAccount}
			</if>
			<if test="dbPwd!=null">
						AND db_pwd = #{dbPwd}
			</if>
		</where>
	</sql>
		
	<select id="AutoDb_selectList_count" resultType="long">
        SELECT count(*) FROM AUTO_DB 
		<include refid="AutoDb_selectList_where"/>    
	</select>
    
	<!--
			分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
			因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
		-->
	<select id="AutoDb_selectList" resultMap="RM_AutoDb">
		SELECT <include refid="AutoDb_columns" />
	    FROM AUTO_DB 
		<include refid="AutoDb_selectList_where"/>
	</select>

</mapper>